.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/
*/.vs/
tsconfig.lsif.json
*.lsif
*.db
node_modules
custom-editor-sample/pnpm-lock.yaml
welcome-view-content-sample/pnpm-lock.yaml
webview-codicons-sample/pnpm-lock.yaml
webview-sample/vue-table/components.d.ts
webview-sample/vue-table/auto-imports.d.ts
